<div class="background-div">
<div class="main-div container">

    <app-header></app-header>
    <div class=''>
        <div class='row'>
            <div class='col-12 '>
                <app-options></app-options>
            </div>
        </div>
        <div class='row'>

            <div class='col-sm-8 component'>
                <app-results></app-results>
            </div>
            <div class='col-sm-4 component'>
                <app-saved></app-saved>
            </div>

        </div>

    </div>
    <div style="height: .5em;"></div>
    <!-- add margin to componenet.. header? -->
</div>
</div>
<!-- <p style="font-size:xx-small; text-align: center;">Background from webdesignledger.com</p> -->