<app-header></app-header>
<div class='container'>
    <div class='row'>
        <app-options></app-options>
    </div>
    <div class='row'>
        <div class='col-md-6 component'>
            <app-saved></app-saved>
            <!-- bootstrap is not working... -->
        </div>

        <div class='col-md-6 component'>
            <app-results></app-results>
        </div>

    </div>

</div>
<div style="height: .5em;"></div>
<!-- add margin to componenet.. header? -->




<br>
<h1>Testing Component</h1>
<app-reader-test></app-reader-test>